@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
/* shared */
.dark {
  color: #21243d;
}
.btn-primary {
  background-color: #ff6464;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 3px;
  border: none;
  padding: 10px 20px;
}
.section-title {
  font-size: 26px;
  font-weight: 700;
  color: #21243d;
}
/* Nav style */
nav {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 27px 60px;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin-right: 32px;
}
nav ul li a {
  text-decoration: none;
}

/* banner */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 180px 180px 0 180px;
}
.banner-content {
  max-width: 510px;
}
.banner-greetings {
  font-size: 50px;
  font-weight: 700;
}
.banner-description {
  margin-top: 40px;
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 20px;
}
.banner-profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 300px;
}
/* main post section */
.main-post {
  width: 100%;
  height: 400px;
  background-color: #edf7fa;
  margin-top: 70px;
}
.main-post ul li {
  list-style: none;
}
.main-post ul li a {
  text-decoration: none;
}
.main-post ul {
  display: flex;
  justify-content: space-between;
  margin: 0 320px 0 320px;
  padding: 15px;
  font-size: 30px;
  font-weight: 500;
}
.view {
  color: #00a8cc;
}
.post {
  margin: 0 200px 0 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}
.post-box {
  width: 400px;
  height: 300px;
  padding: 0 100px 0 100px;
  background-color: #fff;
  border-radius: 4px;
}
.post-upload {
  display: flex;
  gap: 30px;
  align-items: center;
}
.post-upload > *:not(:first-child) {
  border-left: 2px solid #666;
  padding-left: 15px;
}
.post-description {
  font-size: 20px;
}
/* Work section */
.featured-work {
  margin: 30px 0 30px 200px;
}
.work-name {
  font-size: 24px;
  font-weight: normal;
}
.featured-content {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.featured-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0; /* Aligns divider to start from the left */
  width: 50%; /* Makes the divider cover half the page */
  height: 2px;
  background: #ccc;
}
.work-title,
.upload-year,
.upload-content-name,
.upload-content-description {
  margin: 0;
}

.featured-image {
  width: 300px;
  height: 200px;
  display: block;
  flex-shrink: 0;
  border-radius: 6px;
}
.featured-text {
  flex: 1;
}
.work-title {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}
.work-upload-info {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.upload-year {
  font-size: 20px;
  background-color: #142850;
  color: white;
  border-radius: 16px;
  font-weight: 900;
  padding: 0 10px 0 10px;
}
.upload-content-name {
  color: #8695a4;
}
.upload-content-description {
  font-size: 20px;
  width: 600px;
  margin-bottom: 10px;
}
/* footer section */
footer {
  background-color: #fff;
  margin-bottom: 40px;
}
.footer-icon {
  padding-top: 50px;
  display: flex;
  justify-content: center; /* Centers icons */
  align-items: center;
  gap: 35px; /* Adds spacing between icons */
  margin-top: 20px;
}
.footer-copyright {
  text-align: center;
  margin: 30px 0 60px 0;
}
